<div class="mb-4">
  <h5 class="mb-3">Browse Categories</h5>

  <div class="d-flex flex-wrap gap-2">
    <% @categories.each do |category| %>
      <%= link_to category.name,
          category_path(category),
          class: "btn btn-outline-secondary btn-sm" %>
    <% end %>
  </div>
</div>